// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss ,only before @import bootstrap variables!"

$grid-gutter-width: 32px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1300px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1248px);

$gutter: $grid-gutter-width;
//@import 'fonts';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'reset';

//@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
//@import '../../node_modules/bootstrap/scss/variables';


body {
	min-width: 320px;
	height: 100%;
	font-size: 16px;
	line-height: 24px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* input-placeholder */
input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
textarea::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
textarea::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
textarea:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
textarea:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
textarea:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
textarea:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
input::-ms-clear {
	display: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	display: none;
}

.preloader-wrapper {
	width: 100vw;
	height: 100vh;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 50px;
	}
}

.fixed {
	overflow: hidden;
}

img, svg {
	display: block;
}

$orange-color: #F67C0D;
$green-color: #009688;

$img-circle: 384px;

.orange-text {
	color: $orange-color;
}

.container-fluid {
	max-width: 1920px;
	padding-left: 0;
	padding-right: 0;
}
.first-screen-section {
	height: 100vh;
	color: #fff;
	background: url(../img/firs-screen-bg.jpg)no-repeat center/cover;	
	&>.container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.first-screen-content {
		flex-grow: 1;
	}
}

p {
	margin-bottom: 16px;
}

header {
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-size: 20px;
	line-height: 32px;
	text-decoration: none;
	border-radius: 15px;
	padding: 8px;
	&:focus {
		background: rgba(#fff, .08);
		box-shadow: 1px 1px 30px rgba(#fff, .15);
	}
}
.header-contacts-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;
	font-size: 18px;
	line-height: 32px;
	li {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
		a {
			display: flex;
			align-items: center;
			&:hover {
				text-decoration: underline;
			}
			&:focus {
				text-decoration: underline;
			}
		}
		svg {
			width: 20px;
			height: 20px;
			fill: $orange-color;
			margin-right: 10px;
		}
	}
}
h1 {
	font-size: 44px;
	line-height: 80px;
	color: $orange-color;
	letter-spacing: 1px;
	margin: 0;
	font-weight: 700;	
}
h2 {
	font-size: 32px;
	line-height: 52px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: $orange-color;
	margin-bottom: 64px;
	svg {
		display: inline-block;
		fill: $green-color;
		position: relative;
		top: -3px;
		width: 32px;
		height: 32px;
	}
}
.first-screen-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	h1+p {
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 28px;
	}
	p {
		font-size: 20px;
		line-height: 32px;
	}
	.check-list {
		margin-bottom: 64px;	
	}
}
.first-screen-row {
	width: 100%;
	height: auto;
}
.check-list {
	column-count: 2;
	width: 80%;
	li {
		position: relative;
		padding-left: 24px;
		margin-bottom: 18px;
		&:before {
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url(../img/check-solid.svg)no-repeat center/cover;
		}
	}
}
.first-screen-img {
	width: $img-circle;
	height: $img-circle;
	border-radius: 50%;
	background: #fff;
	overflow: hidden;
	img {
		width: 100%;
	}
}
.btn {
	display: inline-block;
	font-size: 16px;
	line-height: 32px;
	padding: 8px 32px;	
	border-radius: 4px;
	border: none;
	&.green-btn {
		color: #fff;
		background: $green-color;
		border: 1px solid $green-color;
		&:focus {
			box-shadow: 1px 1px 50px rgba($green-color, .9);
		}
	}
	&.orange-btn {
		background: $orange-color;
		color: #fff;
		&:focus {
			box-shadow: 1px 1px 50px rgba($orange-color, .9);
		}
	}
}
.section-padding {
	padding-top: 64px;
	padding-bottom: 128px;
}
.circle-item {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.circle-item-img {
	width: $img-circle;
	height: $img-circle;
	border-radius: 50%;
	background: #fff;
	overflow: hidden;
	margin-bottom: 16px;
	img {
		width: 100%;
	}
}
.circle-item-name {
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.different-item {
	.item-count {
		cursor: default;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: $orange-color;
		color: #fff;
		font-size: 16px;
		line-height: 32px;
		text-align: center;
		margin-bottom: 8px;
	}
	p {
		font-size: 16px;
		line-height: 32px;
		font-weight: 600;
		color: #000;
		&:last-of-child {
			margin-bottom: 0;
		}
	}
	&.top-item {
		margin-bottom: 160px;
	}
}
.different-wrapper {
	position: relative;
	.different-item-img {
		max-width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		img {
			width: 100%;
		}
	}
}
.where-us {
	h2 {
		margin-bottom: 8px;
		&+p {
			font-family: 'blogger_sansmedium', sans-serif;
			color: $green-color;
			font-size: 20px;
			line-height: 32px;
			font-weight: 600;
			max-width: 550px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 64px;
		}
	}
	.circle-item {
		margin-bottom: 64px;
	}
}
.grey-section {
	background: url(../img/pattern.jpg)repeat;
}
.quote-block {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: $green-color;
	padding: 32px 104px;
	color: #fff;
	border-radius: 16px;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
}
.reason-item {
	text-align: center;		
	margin-bottom: 64px;
}
.reason-ite-icon {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	svg {
		fill: $orange-color;
	}
}
.reason-item-name {		
	font-size: 24px;
	line-height: 40px;
	font-family: 'blogger_sansmedium', sans-serif;
	color: $green-color;
}
.item-list {
	li {
		font-size: 16px;
		line-height: 32px;
		&:before {
			content: '';
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url(../img/check-solid.svg)no-repeat center/cover;
			margin-right: 10px;
		}
	}
}
.orange-text {
	color: $orange-color;
}
.advantage-item {
	max-width: 592px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 64px;
}
.advantage-item-logo {
	margin-bottom: 32px;
	img {
		width: 96px;
		height: 96px;
		margin-left: auto;
		margin-right: auto;
	}
}
.advantage-item-text {
	font-size: 16px;
	line-height: 32px;
	text-align: center;
}
.offset-md-3 {
	.advantage-item {
		margin-bottom: 0;
	}
}
.offset-lg-4 {
	.reason-item {
		margin-bottom: 0;
	}
}
.safe {
	h2 {
		margin-bottom: 8px;
		&+p {
			font-family: 'blogger_sansmedium', sans-serif;
			color: $green-color;
			font-size: 20px;
			line-height: 32px;
			max-width: 550px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 64px;
		}
	}
	.row {
		margin-bottom: 64px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.safe-item {
	width: 100%;
	height: 384px;
	background: #fff;
	border-radius: 16px;
	overflow: hidden;
	padding: 80px 104px;
	text-align: center;
	position: relative;
}
.safe-item-count {
	font-size: 96px;
	line-height: 96px;
	color: $green-color;
	margin-bottom: 32px;
}
.safe-item-text {
	font-size: 20px;
	line-height: 32px;
}
.safe-item-img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.socks-slider {
	margin-top: 64px;
	&+.quote-block {
		margin-top: 64px;
	}
}
.socks-slider-item {
	width: 280px;
	height: 280px;
	border-radius: 16px;
	border: 1px solid #fff;
	overflow: hidden;
	margin-left: 16px;
	margin-right: 16px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .3s;
	}
	&:focus {
		border: 1px solid $orange-color;
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}
.slick-arrow {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 2px solid $orange-color;
	background: $orange-color;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		width: 16px;
		height: 32px;
		fill: #fff;
	}
	&.slick-prev {
		left: 0;
	}
	&.slick-next {
		right: 0;
		transform: translate(50%, -50%);
	}
	&:hover {
		background: #fff;
		svg {
			fill: $orange-color;
		}
	}
	&:focus {
		box-shadow: 4px 4px 24px rgba($orange-color, .9);
	}
}
.green-section {
	padding-top: 64px;
	padding-bottom: 64px;
	background: $green-color;
	color: #fff;
	h2 {
		color: #fff;
		margin-bottom: 8px;
		text-align: left;
	}
	p {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 32px;
		span {
			font-family: 'blogger_sansmedium', sans-serif;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.brands {
	h2 {
		margin-bottom: 0;
	}
}
.brand-models {
	.img-item {
		img {
			width: 100%;
			max-width: 284px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.row {
		margin-bottom: 128px;
	}
}
.brand-item {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 64px;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.brand-models-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	.reason-item-name {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 8px;
	}
}
.green-text {
	color: $green-color;
}
.brand-models-wrapper {
	.green-text {
		font-size: 20px;
		line-height: 32px;
		text-align: center;
		margin-bottom: 64px;
	}
}
.title-icon {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	height: 100%;
	&>img {
		margin-bottom: 24px;
	}
}
.italic-text {
	font-style: italic;
}
.free-receive {
	.reason-item {
		margin-bottom: 0;
	}
}
.brands-logo-wrapper {
	padding-top: 128px;
	.green-text {
		font-size: 20px;
		line-height: 32px;
		text-align: center;
		margin-bottom: 64px;
	}
}
.delivery-wrapper {
	margin-bottom: 64px;
}
.delivery-item {
	margin-bottom: 64px;
	img {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.input-block {
	margin-bottom: 16px;
	padding-bottom: 12px;
	position: relative;
	.error-text {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 12px;
		line-height: 12px;
		color: red;
		display: none;
	}
	&.error {
		.send-input {
			border: 1px solid red;			
		}
		.error-text {
			display: inline-block;
		}
		
	}
}
.modal-title {
	font-size: 20px;
}
form {
	.btn.green-btn:focus {
		box-shadow: 1px 1px 15px rgba($green-color, .9);
	}
}

@import 'media';